.login-page{
    background-image: url("src/assets/backgroundAL.png");
    background-size: cover;
    width: 100%;
    display: flex;
    

}
.login-form{
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
