.content-home{
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url('/src/assets/backgroundAL.png');
    background-repeat: no-repeat;
}
.image-home{
    position: absolute;

}
.carousel-home{
    position:relative;
    width: 40%;
    float: right;
    justify-content: center;
    align-items: center;

}
h1{
    font-size: 40px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}